<a href="https://colab.research.google.com/github/Vineet-salimath/Vineet-salimath/blob/main/Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def login_check(username_input, password_input):
    correct_username = "admin"   #GIVEN CREDENTIALS
    correct_password = "1234"

    if username_input == correct_username and password_input == correct_password:
        print("Login Successful")
    else:
        print("Invalid Credentials")
login_check("admin", "1234")  #EXAMPLE

Login Successful

In [ ]:
def analyze_results(marks):
    pass_count = 0
    fail_count = 0

    for i in marks:
        if i >= 50:
            pass_count += 1
        else:
            fail_count += 1

    print(f"Total Students Passed: {pass_count}")
    print(f"Total Students Failed: {fail_count}")

student_marks = [45, 78, 90, 33, 60]  #example
analyze_results(student_marks)

Total Students Passed: 3
Total Students Failed: 2

In [ ]:
def clean_names(names):
    cleaned = []
    for i in names:
        cleaned_name = i.strip().lower()  # remove spaces and convert to lowercase
        cleaned.append(cleaned_name)
    return cleaned
names_list = [" Peter ", "VIJAY", " Vineet "] #example
cleaned_list = clean_names(names_list)
print("Cleaned Names:", cleaned_list)

Cleaned Names: ['peter', 'vijay', 'vineet']

In [ ]:
def message_analysis(messages):
    for msg in messages:
        length = len(msg)
        if length > 10:
            flag = " big message"
        else:
            flag = ""
        print("Message: '" + msg + "' | Length: " + str(length) + flag)

messages_list = ["Hi", "Welcome to the platform", "OK"] #example
message_analysis(messages_list)

Message: 'Hi' | Length: 2
Message: 'Welcome to the platform' | Length: 23 big message
Message: 'OK' | Length: 2

In [ ]:
def count_messages(logs, msg_type):
    count = logs.count(msg_type)
    print(msg_type + " messages:", count)

system_logs = ["INFO", "ERROR", "WARNING", "ERROR"]   #example
count_messages(system_logs, "ERROR")

ERROR messages: 2

Task 2 internship.

In [ ]:
sentence = "My name is Vineet"  #example
words = sentence.split()
unique_words = set(words)

print(f"Unique words count: {len(unique_words)}")
print(f"Unique words: {unique_words}")

Unique words count: 4
Unique words: {'is', 'name', 'Vineet', 'My'}

Problem 2

In [ ]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest_salary = 0
top_employee = ""
for name, salary in employees.items():
     if salary > highest_salary:
        highest_salary = salary
        top_employee = name
print(f"Highest Salary: {top_employee} - {highest_salary}")

Highest Salary: Ravi - 75000

Problem 3

In [ ]:

numbers = [45, 22, 89, 10, 66]
max_val = numbers[0]
min_val = numbers[0]

for num in numbers:

    if num > max_val:
        max_val = num


    if num < min_val:
        min_val = num

print(f"List: {numbers}")
print(f"Max: {max_val}")
print(f"Min: {min_val}")

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

Problem 4

In [ ]:
prices = [450, 1200, 899, 1500, 300]
count = 0

for price in prices:
    if price > 1000:
        count += 1

print(f"Products above 1000: {count}")

Products above 1000: 2

Problem 5

In [ ]:
attendance = ["P", "P", "A", "P", "P"]

present_days = attendance.count("P")
total_days = len(attendance)

percentage = (present_days / total_days) * 100

print(f"Attendance Percentage: {percentage}")

Attendance Percentage: 80.0

Problem 6

In [ ]:
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_numbers = set(phone_numbers)
print(f"Unique phone numbers: {unique_numbers}")

Unique phone numbers: {9876543210, 9123456789}

Problem 7

In [ ]:
text = "pythonptho"
frequency = {}
for char in text:
        frequency[char] = frequency.get(char, 0) + 1
print(frequency)

{'p': 2, 'y': 1, 't': 2, 'h': 2, 'o': 2, 'n': 1}

Problem 8

In [ ]:
my_list = [10, 20, 30]
my_tuple = tuple(my_list)
print(f"Tuple: {my_tuple}")

Tuple: (10, 20, 30)

Problem 9

In [ ]:
employee_data = {"Name": "Ravi", "ID": 101, "Role": "Intern"}
key_to_check = "Name","ID","Role"

if key_to_check in employee_data:
    print("Employee exists")
else:
    print("Employee not found")

Employee not found

Problem 10

In [ ]:
marks = [80, 75, 60, 75]
average = sum(marks) / len(marks)
print(f"Average Marks: {average}")

Average Marks: 72.5

TASK 3

Problem 1

In [1]:
employees = {
    "Ravi": 92,
    "Anita": 88,
    "Kiran": 92,
    "Suresh": 85
}
all_scores = list(employees.values())
highest_score = max(all_scores)
top_performers = []
for name, score in employees.items():
    if score == highest_score:
        top_performers.append(name)

names_string = ", ".join(top_performers)
print(f"Top Performers Eligible for Bonus: {names_string} (Score: {highest_score})")
print("\n")

Top Performers Eligible for Bonus: Ravi, Kiran (Score: 92)

Problem 2

In [2]:
search_query = "Buy mobile phone buy phone online"
query_lower = search_query.lower()
#  Split the sentence into individual words
words = query_lower.split()
# Count frequency of each word using a dictionary
word_counts = {}
for word in words:
    if word in word_counts:
        word_counts[word] += 1
    else:
        word_counts[word] = 1
duplicates = {}
for word, count in word_counts.items():
    if count > 1:
        duplicates[word] = count
print(duplicates)
print("\n")

{'buy': 2, 'phone': 2}

Problem 3

In [3]:
sensor_readings = [3, 4, 7, 8, 10, 12, 5]
valid_readings = []

for hour_index, reading in enumerate(sensor_readings):
    if reading % 2 == 0:
        valid_readings.append((hour_index, reading))
print("Valid Sensor Readings (Hour, Value):")
print(valid_readings)
print("\n")

Valid Sensor Readings (Hour, Value):
[(1, 4), (3, 8), (4, 10), (5, 12)]

Problem 4

In [5]:
emails = [
    "ravi@gmail.com",
    "anita@yahoo.com",
    "kiran@gmail.com",
    "suresh@gmail.com",
    "meena@yahoo.com"]

domain_counts = {}
total_emails = len(emails)

# Extract domain from each email
for email in emails:
    # Split the email at '@' and take the second part
    parts = email.split('@')
    domain = parts[1]
    if domain in domain_counts:
        domain_counts[domain] += 1
    else:
        domain_counts[domain] = 1
for domain, count in domain_counts.items():
    percentage = (count / total_emails) * 100
    print(f"{domain}: {int(percentage)}%")

print("\n")

gmail.com: 60%
yahoo.com: 40%

Problem 5

In [6]:
sales = [1200, 1500, 900, 2200, 1400, 3000]
total_sales = sum(sales)
number_of_days = len(sales)
average_sales = total_sales / number_of_days

threshold = average_sales * 1.30

# Loop through sales to find spikes
for day, sale_value in enumerate(sales, start=1):
    if sale_value > threshold:
        print(f"Day {day}: {sale_value}")

print("\n")

Day 6: 3000

Problem 6

In [7]:
user_ids = ["user1", "user2", "user1", "user3", "user1", "user3"]
id_counts = {}
for user in user_ids:
    if user in id_counts:
        id_counts[user] += 1
    else:
        id_counts[user] = 1
for user, count in id_counts.items():
    if count > 1:
        print(f"{user} → {count} times")

user1 → 3 times
user3 → 2 times